<!DOCTYPE html>
<html ng-app="shuffling"> <!-- ng starts to process the code-->

  <head>
    <meta charset="utf-8" />
    <title>Shuffling Pines</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link href="../bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

    <script src="../src/app.js"></script>
  </head>

  <body ng-controller="FormController as formCtrl">
    <h1>Shuffling Pines</h1>
    <div class="row" ng-controller="TabController as tabCtrl">
      <div class="col-md-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li  role="presentation" class="active"><a href="#form" aria-controls="form" role="tab" data-toggle="tab">Form</a></li>
          <li role="presentation"><a href="#guests" aria-controls="guests" role="tab" data-toggle="tab" ng-click="tabCtrl.refreshGuestList()">Guests</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Tab pane 1 -->
          <div role="tabpanel" class="tab-pane active" id="form">
            <div>

              <form class="col-md-6 well my-form" name="guestform" novalidate ng-submit="guestform.$valid && formCtrl.guest.add()">
                <div class="form-group">
                  <label for="guest-name">Guest Name</label>
                  <input name="guestname" type="text" class="form-control" id="guest-name" placeholder="" ng-model="formCtrl.gname" required>
                  <span class="error" ng-show="guestform.guestname.$error.required">required</span>
                </div>
                <div class="form-group">
                  <label for="transition-date">Transition Date</label>
                  <input name="date" type="date" class="form-control" id="transition-date" placeholder="" ng-model="formCtrl.date" required>
                  <span class="error" ng-show="guestform.date.$error.required">required</span>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pickup-dropoff" id="pickup" value="pickup" ng-model="formCtrl.checked">
                    Pick-up
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pickup-dropoff" id="dropoff" value="dropoff" ng-model="formCtrl.checked">
                    Drop-off
                  </label>
                </div>
                <div class="form-group" ng-show="formCtrl.locationShowed()">
                  <label for="location">Location</label>
                  <textarea class="form-control" id="location" ng-model="formCtrl.location"></textarea>
                </div>
                <button type="submit" class="btn">Submit</button>
              </form>

              <!-- bound display -->
              <div class="col-md-6 well"> 
                <div class="form-group">
                  <label>Name: </label>
                  <div ng-bind="formCtrl.gname"></div>
                </div>
                <div class="form-group">
                  <label>Transition Date: </label>
                  <div ng-bind="formCtrl.date"></div>
                </div>
                <div class="form-group">
                  <label>Status: </label>
                  <div ng-bind="formCtrl.checked"></div>
                </div>
                <div class="form-group">
                  <label>Location: </label>
                  <div ng-bind="formCtrl.location"></div>
                </div>
              </div>

            </div>
          </div>

          <!-- Tab pane 2 -->
          <div role="tabpanel" class="tab-pane" id="guests">
            <div class="col-md-2">
              Name:
              <ul class="list-unstyled">
                <li ng-repeat="guest in tabCtrl.guests track by $index" editable-text="guest.gname" 
                    onaftersave="tabCtrl.updateGuest()" e-required>
                  {{ guest.gname }}
                </li>
              </ul>
            </div>
            <div class="col-md-2">
              Transition Date:
              <ul class="list-unstyled">
                <li ng-repeat="guest in tabCtrl.guests track by $index" editable-bsdate="guest.date" e-datepicker-popup="dd-MMMM-yyyy" onaftersave="tabCtrl.updateGuest()">
                  {{ (guest.date | date:"dd/MM/yyyy") || "required"}}
                </li>
              </ul>
            </div>
            <div class="col-md-2">
              Status:
              <ul class="list-unstyled">
                <li ng-repeat="guest in tabCtrl.guests track by $index" editable-select="guest.transit" e-ng-options="s.value as s.text for s in tabCtrl.statuses" onaftersave="tabCtrl.updateGuest()">
                  {{ guest.transit }}
                </li>
              </ul>
            </div>
            <div class="col-md-2">
              Location (for pickup only):
              <ul class="list-unstyled">
                <li ng-repeat="guest in tabCtrl.guests track by $index" editable-text="guest.location" onaftersave="tabCtrl.updateGuest()">
                  {{ guest.location }} 
                </li>
              </ul>
            </div>
            <div class="col-md-2">
              <ul class="list-unstyled">
                Remove:
                <li ng-repeat="guest in tabCtrl.guests track by $index">
                  <a href="#" class="removeGuest" ng-click="tabCtrl.removeGuest($index)">remove guest</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
