.error {
	font: .9em "Open Sans", sans-serif;
	color: red;
}
.btn-xs {
	margin: 1em 1em;
	padding-left: 1em;
}
.removeGuest {
	border-bottom: dashed 1px #428bca;
	height: 21px;
}
.removeGuest div {
	color: #428bca;
}
.removeGuest div:hover {
	color: red;
}